.tr {
  // display: flex;
  // align-items: center;
  // justify-content: flex-start;
  /* grid-template-columns: repeat(11, minmax(max-content, 1fr)); */
  // grid-template-columns: repeat(13, minmax(max-content, auto));
}

.th {
  height: 50px;
  background: var(--color-background);
  top: 0;
  font-size: 1em;
  user-select: none;
  text-align: center;

  &:hover {
    color: var(--color-text-highlight);
  }
}

.btnSection {
  button {
    margin-right: 15px;
  }
}

.break {
  word-wrap: break-word;
  word-break: break-all;
  align-items: center;
  text-align: left;
}

.td {
  /* 上边下边 | 左边右边 */
  padding: 10px 5px;
  font-size: 0.9em;
  // max-width: 14em;
  min-width: 9em;
  cursor: default;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    color: var(--color-text-highlight);
  }

  font-family: var(--font-normal);
}

.overlay {
  background: #444;
}

.modal {
  background-color: var(--bg-modal);
  // color: var(--color-text);
}

.table {
  border-collapse: collapse;
}

.td.odd {
  background: var(--color-row-odd);
}

/* download upload td cells */
.center {
  min-width: 7em;
  text-align: center;
}

.sortIconContainer {
  float: right;
  // margin-left: 0.5em;
  width: 1em;
  height: 1em;
}

.rotate180 {
  transform: rotate(180deg);
}
